header {
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa-PCRJ{
    position: relative;
    width: 940px;
    
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 126px;
    right: 0px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
    transition: 0.5s;
}
.produtos-PCRJ li:hover {
    border-color: #C78C19;
    transition: 0.5s;
}
.produtos-PCRJ li:active {
    border-color: #088C19;
}
.produtos-PCRJ li:hover h2 {
    font-size: 34px;
}
.produtos-PCRJ {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos-PCRJ li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px #000000;
    border-radius: 10px;
}
.produtos-PCRJ h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao-PCRJ {
    font-size: 18px;
    padding-bottom: 10px;
}
.produto-preco-PCRJ {
    font-size: 25px;
    font-weight: bold;
}
